/* Form */
@media only screen and (max-width: 730px){
	.form-box form .field-group{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.form-box form .field {
		width: 100%;
		margin-left: 2em;
		margin-right: 2em;
	}
	.form-box form .field input, textarea{
		width: 100%;
	}
	.form-box form .field-group .field + .field{ 
		margin-left: 2em;
	}
}
@media only screen and (max-width: 420px){
	.form-box form {
		padding: 1.5em 1em 1em 1.3em;
		
	}
}
