/* Circular Photo and Paragraph Section */
div.second-mainContainer{
	background-color: var(--medium-gray);
	padding: 2em 5em 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
div.second-mainContainer img{
	border-style: solid;
	border-width: 10px;
	border-radius: 50%;
	border-color: var(--half-dark);
	height: 250px;
	width: 250px;
}
div.second-mainContainer div.text{
	width: 100%;
	
}
div.second-mainContainer div.text > h3{
    font-size: 20px;
	color: var(--bright);
	margin: 1em 0 1em 1.5em;
	display: flex;
	justify-content: center;
}
div.second-mainContainer div.text p {
	text-align: justify;
	color: var(--bright);
	font-size: 13px;
	margin: 1em 3em 0 3.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
}
div.second-mainContainer div.text p:last-child{
    margin-bottom: 1em;
}
div.second-mainContainer div.circle-image{
	margin-left: 2.5em;
	padding-bottom: 1em;
}
