/* Circular  */
@media only screen and (max-width: 972px){
	div.second-mainContainer{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em 4em 2em 2.5em;
	}
	div.second-mainContainer .text h3{
		display: flex;
		justify-content: center;
	}
}
@media only screen and (max-width: 420px){
	div.second-mainContainer{
		padding: 2em 2em;
		margin-left: -1em;
	}
	div.second-mainContainer .text p{
		text-align: center;
        padding-right: 3em;
	}
}