/* Slide Gallery: three of nine */
div.slide-grid{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    max-width: 1440px;
}
div.slide{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
div.slide > h2{
    font-size: 18px;
    color: var(--bright);
    padding-bottom: 1em;
}
div.slide p{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    width: 80%;
    color: var(--bright);
}
.item {
    width: 85%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.item img{
    width: 100%;
    height: 100%;
    border: 8px solid var(--medium-gray);
    margin: 1em;
}
div.slide-grid ul.alice-carousel__dots, div.slide-grid li.alice-carousel__dots-item{
    display: none;
}
div.parent-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    margin-left: 5em;
    margin-right: 4em;
}
div#app div.alice-carousel__next-btn{
    width: 50px;
    float: right;
    right: 5em;
    margin-top: -25em;
} 
div#app div.alice-carousel__next-btn
p.alice-carousel__next-btn-item span::after{
    content: '\276F';
    color: white;
    font-size: 25px;
}
div#app div.alice-carousel__prev-btn{
    width: 50px;
    float: left;
    left: 5em;
    margin-top: -25em;
}
div#app div.alice-carousel__prev-btn
p.alice-carousel__prev-btn-item span::after{
    content: '\276E';
    color: white;
    font-size: 25px;
}
div#app div.alice-carousel__next-btn
p.alice-carousel__next-btn-item span:hover,
div#app div.alice-carousel__prev-btn
p.alice-carousel__prev-btn-item span:hover{
    color: var(--half-dark);
    text-shadow: 0.5px 0.5px 5px var(--lighter-gray);
}


